.tabs {
    width: 400px;
    margin: 20px auto;
}

.tab-nav{
    display: flex
}

.tab-nav button{
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    background-color: #f1f1f1;
    color: black;
}

.tab-nav button.active {
    background-color: black;
    font-weight: bold;
    color: #ddd;
}

.tab-nav button:hover:not{
    background-color: #796f6f;
}

.tab-content {
    border: 1-x solid #ddd;
    padding: 10px;
}